# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\e3-913-stefana-hutupasu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
